$color-gosblue: #0D4CD3 !default;
$color-gosred: #EE3F58 !default;
$color-tela-rosso: #E11432 !default;
$color-summer-night: #0B1F33 !default;
$color-text-helper: #66727F !default;
$color-active-item: #1D5DEB !default;
$color-button-hit: #0B40B3 !default;
$color-blu-digitale: #4D83FA !default;
$color-blu-selvaggio: #9DACCE !default;
$color-pervinca: #E5EAF5 !default;
$color-background: #FAFCFF !default;
$color-input: #F5F7FA !default;
$color-bg-disable: #D1D5DF !default;
$color-devider: #99B1E6 !default;
$color-error-highlight: rgba(238, 63, 88, 0.16) !default;
$color-shadow: #E6EBF5 !default;
$color-tagline: #E4ECFD !default;
$color-tagline-hit: #D6E2FB !default;
$color-giallo-brillante: #FED13E !default;
$color-giallo-selezionato: #F8B200 !default;
$color-foglia-di-acero: #FF8A00 !default;
$color-green-sea: #16A086 !default;
$color-nephritis: #2DC36A !default;
$color-pino-verde: #12826E !default;
$color-gray-divider: #E1E1E1 !default;
$color-telegrey-scuro: #86909C !default;
